<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?
    family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/stylesheets/about_us.css">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
</head>

<body>

    <!-- Include Header -->
    <%- include('./partials/header') %>
     
    <section class="section">
        <div class="full-sec">
            <div class="full-block"></div>
            <div class="wordblock">
                <div class="inner-container">
                    <div class="block-container">
                        <div class="content-sec">
                            <div class="content-text">
                                <div class="AboutUs">
                                    <div class="PKJb">
                                        <div class="ggx">
                                            <div class="heading">
                                                <h1 class="h1">
                                                    About Us
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="PKJb"></div>
                                </div>
                            </div>
                            <div class="PKJb">
                                <div class="hUcg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="break"></div>
    <section class="section1">
        <div class="full-sec">
            <div class="section-content">
                <div class="inner-container">
                    <div class="block-container">
                        <div class="safety-text">
                            <div class="tarkata">
                                <div>
                                    <div class="heading-block">
                                        <div class="heading">
                                            <h2>YOUR SAFETY</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="para-block">
                                    <div class="para">
                                        <p>At GoID, the safety of our passengers is our top priority. We are committed to providing a secure and comfortable travel experience every time you choose our service. All our drivers undergo thorough background checks and are trained to prioritize safety on the road. Our vehicles are regularly inspected and maintained to ensure they meet the highest safety standards. We have also implemented advanced GPS tracking systems to monitor every journey in real time. Additionally, our 24/7 customer support team is always available to assist with any concerns during your ride. We encourage all passengers to fasten their seatbelts, report any unsafe behavior, and follow all COVID-19 guidelines while using our service. Your trust is important to us, and we are dedicated to ensuring that every trip you take with us is safe and secure.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="safety-image">
                            <div class="tarkata">
                                <div class="image-ratio">
                                    <div class="tarkata2">
                                        <div class="tarkata3">
                                            <div style="height: 100%; width: 100%;">
                                                <img src="/images/safety.webp" alt="">
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section1" id="section2">
        <div class="full-sec">
            <div class="section-content">
                <div class="inner-container">
                    <div class="block-container">
                        <div class="safety-text">
                            <div class="tarkata">
                                <div class="image-ratio">
                                    <div class="tarkata2">
                                        <div class="tarkata3">
                                            <div style="height: 100%; width: 100%;">
                                                <img id="smash" src="/images/sustain.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="safety-image">
                            <div class="tarkata">
                                <div>
                                    <div class="heading-block">
                                        <div class="heading">
                                            <h2>SUSTAINABILITY</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="para-block">
                                    <div class="para">
                                        <p>At GoID, we are committed to driving a sustainable future, one ride at a time. We recognize the impact that transportation has on our environment, and we're dedicated to minimizing our carbon footprint while providing you with reliable and efficient cab services.We are transitioning our fleet to include more hybrid and electric vehicles, reducing emissions and contributing to cleaner air in our communities. Additionally, we’re optimizing our routes using advanced technology to ensure that each journey is as efficient as possible, saving fuel and reducing congestion.Beyond our vehicles, we’re also focused on adopting sustainable practices in our operations. From reducing paper use through digital receipts to supporting carbon offset programs, we’re continually seeking new ways to lessen our environmental impact.Your choice to ride with us is a choice for a greener future. Together, we can make a difference, ensuring that convenience and sustainability go hand in hand. Thank you for helping us drive towards a more sustainable world.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3" style="border-radius: 10px;background-image: linear-gradient(white,grey);">
        <div class="safety-text">
            <div class="tarkata">
                <div>
                    <div class="heading-block">
                        <div class="heading">
                            <h2>REIMAGINING FOR THE BETTER MOVE</h2>
                        </div>
                    </div>
                </div>
                <div class="para-block">
                    <div class="para">
                        <p>Dear Valued Customers,
                            <br>
                            <br>
                            At GoID, we believe that every journey should be more than just a ride—it should be an experience. With that in mind, we’re thrilled to introduce our new initiative, Reimagining for a Better Move, designed to elevate every aspect of your travel experience. We’ve listened to your feedback, and we’re making impactful changes to ensure your rides are smoother, safer, and more enjoyable. This includes upgrading our fleet with eco-friendly vehicles, enhancing our safety protocols, and providing top-tier training for our drivers to deliver exceptional service.We’re also excited to roll out a more intuitive app interface, offering seamless booking, real-time tracking, and easy payment options. Your convenience and comfort are our top priorities, and we’re constantly innovating to meet your needs.As we embark on this journey together, we invite you to experience the difference. Our goal is simple: to transform the way you think about transportation, making every ride with us not just a necessity but a pleasure.
                            <br>
                            <br>
                            Thank you for choosing GoID. We’re here to move you better, every time.
                            <br>
                            <br>
                            Safe travels,
                            <br>
                            GoID Team.</p>
                    </div>
                </div>
            </div>
    </section>

        <!-- Include Footer -->
        <%- include('./partials/footer') %>
        
    
    </body>
    
    </html>