<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA--Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/stylesheets/admin-login.css">
</head>
<body>
    <div class="container">
        <div class="myform" id="ad-login-form">
            <form action="/admin/login" method="POST">
                <h2>ADMIN LOGIN</h2>
                <input type="text" placeholder="Admin Mail" id="admin-mail">
                <input type="password" placeholder="Password" id="admin-password">
                <i class="fas fa-eye" id="toggle-password-log" style="cursor: pointer;"></i>
                
                <button type="submit">LOGIN</button>
            </form>
        </div>
        <div class="image">
        <img src="/images/dic.jpeg.jpg">
        </div>
    </div>
    <script src="/javascripts/admin-login.js"></script>
</body>
</html>