
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider Details</title>
    <link rel="stylesheet" href="/stylesheets/rider-details.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Pending Rider Approvals</h1>
    <div id="rider-container">
        <!-- Driver cards will be dynamically added here -->
    </div>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="enlargedImage">
    </div>

    <script src="/javascripts/rider-details.js"></script> <!-- Link to the JavaScript file for handling driver actions -->
</body>
</html>
