


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    overflow: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.logo-img img{
    width: 3vw;
    height: 3vw;
    border-radius: 35%;
}
.op .profile img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;

}
    
.main-options{
    display: inherit;
}
.navbar{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    display: flex;
    padding-bottom: 12px;
    padding-top: 14px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color:#fff;
    background: #000;
    position: relative;
    z-index: 2000;
    height: 63px;
    padding-left: 0;
    padding-right: 0;
    top:0;
    transition-duration: 200ms;
    transition-property: top;
}
.nav-el{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
}
.logo a{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.logo-img {
    list-style: none;
    margin: 0;
    
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.nav-options{
    display:flex;
    flex:1 1 auto;
    justify-content: flex-start;
    list-style: none;
    font-size: 25px;
    padding:0px !important;
    visibility: visible;
    overflow: hidden;
    margin: 0px 24px;
}
li{
    text-align: -webkit-match-parent;
    display: list-item;
}
.nav-options li:hover{
    color: aqua;
    transition-duration: 0.1s;
}
.nav-options_1{
    display:flex;
    -webkit-box-flex: 0;
    flex:0 0 auto;
    font-size: 20px;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: flex-end;
    justify-self: end;
    list-style: none;
    margin: 0px;
}

.op{
    align-self: center;
    padding-left: 0;
    padding-right: 4px;
    margin-bottom: 0;
    
}
.op-button{
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.nav-obj{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
    align-items: center;
    border-width: 0px;
    text-decoration: none;
    outline: none;
    appearance: none;
    border-style: none;
    transition-property: background-color,color;
    transition-duration: 200ms;
    cursor: pointer;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    padding: 10px 12px;
    white-space: nowrap;
    line-height: 16px;
    border-radius: 30px;
}
.nav-obj:hover {
    background-color: #333; 
    color: #fff; 
}
.lang{
    margin-right: 7px;
    display: flex;
}
.nav-el-01{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 64px;

}
.nav-01-options:last-child{
    padding: 0;
}

.nav-01-options{
    display:flex;
    -webkit-box-flex: 0;
    flex:1 1 auto;
    font-size: 20px;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: flex-end;
    justify-self: end;
    list-style: none;
    margin: 0px;
}

.options-01{
    align-self: center;
    padding-left: 0;
    padding-right: 4px;
    margin-bottom: 0;
    
}
.navbar-01{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    display: flex;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color:#fff;
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 2000;
    height: 64px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    top:0;
    transition-duration: 200ms;
    transition-property: top;
}
.nav-obj-01{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: none;
    align-items: center;
    border-width: 0px;
    text-decoration: none;
    outline: none;
    appearance: none;
    border-style: none;
    transition-property: background;
    transition-duration: 200ms;
    cursor: pointer;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    padding: 10px 12px;
    white-space: nowrap;
    line-height: 16px;
    border-radius: 30px;
}